@media screen and (min-width: 800px) and (max-width: 1280px) {
  .slideBox {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .divForParameters {
    width: auto;
    height: auto;
  }
  .divForCalculation {
    margin: 0;
    width: auto;
  }

  .legalInformation1,
  .legalInformation2 {
    max-width: 465px;
  }
}
