@media screen and (min-width: 600px) and (max-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slideBox {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
  }
  .divForParameters {
    width: auto;
    height: auto;
  }
  .divForCalculation {
    margin: 0;
    width: auto;
  }

  .legalInformation1,
  .legalInformation2 {
    max-width: 465px;
  }
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slideBox {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 300px;
    height: auto;
  }
  .divForParameters {
    width: auto;
    height: auto;
  }
  .divForCalculation {
    margin: 0;
    width: auto;
  }

  .legalInformation1,
  .legalInformation2 {
    max-width: 300px;
  }
  .parameters {
    display: flex;
    flex-direction: column;
  }
  .valueWindow {
    width: 90%;
    margin-bottom: 20px;
  }
  .checkboxes {
    display: flex;
    flex-direction: column;
  }
  .kwotaWnioskowana {
    margin: 0 0 15px 0;
  }
  .kwotaDoWyplaty {
    margin: 0 0 15px 0;
  }
  .calkowityKosztKredytu {
    margin: 0 0 15px 0;
  }
  .monthlyRate {
    font-size: 50px;
    margin-bottom: 10px;
  }
}
