@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Fraunces:opsz,wght@9..144,100&family=Hanken+Grotesk:wght@100&family=Montserrat:wght@100&family=Outfit:wght@300;400;600&family=Overpass:ital,wght@0,400;0,900;1,500&family=Poppins:ital,wght@0,700;1,400;1,800&family=Roboto&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideBox {
    width: 1100px;
    height: 550px;
    box-shadow: 0 0 8px 2px #b4b4b4;
    border-radius: 3px;
    padding: 20px;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
  }
  

.divForParameters {
    width: 800px;
  }

  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 50px;
    color: #44a844;
    text-align: center;
  }
  

.parameters {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  .headers {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #3b3939;
    min-width: 110px;
  }

  .valueWindow {
    width: 150px;
    height: 40px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    margin: 0 10px;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
  }
  
  .currency {
    padding-right: 10px;
    color: #b4b4b4;
  }

  .range {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .range-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    height: 10px;
    background: #d1d1d1;
  
    outline: none;
    border-radius: 15px;
  }
  
  .range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: whitesmoke;
    border: 2px solid #44a844;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
  }
  
  .range-input::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 20px;
      width: 20px;
      background-color: whitesmoke;
      border: 2px solid #44a844;
      border-radius: 50%;
      transition: 0.2s ease-in-out;
  } 

  .slideRangeOfAmount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .slideRangeOfAmount p {
    margin: 4px 5px;
    color: #b4b4b4;
    font-size: 12px;
  }

  hr {
    margin: 30px 0;
    border: 1.5px solid #b4b4b4;
    border-radius: 20px;
  }

  .range-input2 {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 10px;
    background: #d1d1d1;
  }
  
  .range-input2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: whitesmoke;
    border: 2px solid #44a844;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
  }
  
  .range-input2::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 20px;
      width: 20px;
      background-color: whitesmoke;
      border: 2px solid #44a844;
      border-radius: 50%;
      transition: 0.2s ease-in-out;
  }

  .checkboxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .checkbox {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #44a844;
  
    border-radius: 50%;
  }
  
  .checkbox:checked {
    background-color: #44a844;
    box-shadow: 0 0 0 2px white inset;
  }
  
  .labelInstallment {
    font-family: "Roboto", sans-serif;
  }
  
  .divForCheckboxAndLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .legalInformation1 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #b4b4b4;
    margin-top: 40px;
  }
  
  .legalInformation2 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #b4b4b4;
    margin-top: 40px;
    display: none;
  }
  .expand,
  .collapse {
    color: #44a844;
    font-size: 13px;
    font-weight: bold;
    transition: 0.5s;
  }
  .expand:hover,
  .collapse:hover {
    text-decoration: underline;
    cursor: pointer;
  }

.divForCalculation {
    width: 300px;
    margin-left: 20px;
    border-radius: 3px;
    box-shadow: 0 0 3px #44a844;
  }

.boxCalculation {
  width: auto;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxCalculation label {
  font-family: "Roboto", sans-serif;
}

.boxCalculation hr {
  border: 1px solid whitesmoke;
  width: 80%;
}
.monthlyRate {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: #44a844;
  }

  .currencyInMonthlyRate {
    color: #44a844;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
  }

.amountRequested {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #44a844;
  margin: 5px 0 30px 0;
}

.amountToPayout {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #44a844;
  margin: 5px 0 30px 0;
}

.totalCreditCost {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #44a844;
}















